<!doctype html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <meta name="description" content="Hypertube">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  </head>
  
  <body>
    <div class="home">

      {% include 'navibar.html' %}
      <h>{{datashow}}</h>
      <p>{{ user }}</p>
      <!-- <img src="{{data_show}}" width="200" height="200" alt="a"> <img> -->
      <!-- <p>Welcome  -->
        <!-- {% for k in data_show %} -->
        <!-- {{  k.Profile_Picture }} -->
      <!-- {% endfor %}</p> -->
      <!-- <p>Welcome {{request.user }}</p> -->
      <h1> Pages doesnt Exist</h1>
      <img src="{{ /static/images/404.png }}" alt="a"width="200" height="200"> <img>
      {% else %}
      <img> <img>
      {% endif %}
    </div>
 
     
  <!-- <script src="js/scripts.js"></script> -->
</body>
</html>