<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>Library</title>
  <meta name="description" content="Hypertube">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
 
</head>

<body>

























  <div class="library">
  {% include 'navibar.html' %}
  <h1> Library </h1>
  <form id="check_input">
    Search:<input id="search_video" type="text" name="search">
    <button onclick="get_clear()" type="tag">Clear</button>
      <div id="div_2"></div>
      From(Year):<input type="number" id="year" name="year" min=1888 max=2040 step="1" value="1888">
      To(Year):<input type="number" id="year2" name="year" min=1888 max=2040 step="1" value="2020">
  </form>



  <div id="row1">
    <p>Top movies accroding to TTMDb</p>
   
      <p id="top_1"></p>
      <img id="top_1_img" class ="img_next" width="120px" height="140px">
    
      <p id="top_2"></p>
      <img id="top_2_img" class ="img_next" width="120px" height="140px">
    
      <p id="top_3"></p>
      <img id="top_3_img" class ="img_next" width="120px" height="140px">
    
      <p id="top_4"></p>
      <img id="top_4_img" class ="img_next" width="120px" height="140px">
      <p id="top_5"></p>
      <img id="top_5_img" class ="img_next" width="120px" height="140px">
  
  </div>









  <div id="div1"></div>
  </div>
  <script>
    function get_click()
    {
      var img_check = document.querySelectorAll("#img_1")
      for (i = 0; i < img_check.length; i++) {
        img_check[i].addEventListener('click', function() {
          var Movie_id=event.target.name
          var img_hold=document.getElementsByName(Movie_id)[0].getAttribute("value")
          localStorage.setItem("Movie_details",img_hold)
          location.href='/stream?'+'mov_id='+Movie_id
        });
      }
    }
  function get_checkbox()
  {
    var hold = ["Action","Adventure", "Animation", "Biography", "Comedy", "Crime", "Documentary", "Drama", "Family",
    "Fantasy", "Film Noir", "Game Show", "History","Horror","Musical","Music","Mystery", "News","Reality-TV", 
    "Romance", "Sci-Fi", "Short","Sport","Talk-Show","Thriller","War","Western",
]  
    var div_2 = document.getElementById("div_2")
    for (i=0;i < hold.length;i++)
    {
  	  var btn = document.createElement("input");
  	  var label_1 = document.createElement("label");
  	  btn.type="checkbox"
      btn.value = hold[i]
  	  label_1.innerHTML = hold[i]
  	  div_2.appendChild(btn);
  	  div_2.appendChild(label_1);
      if (i%4 == 0){ 
          var label_1 = document.createElement("br");
          div_2.appendChild(label_1);}
    }
  }
  async function get_video_details()
  {
    document.getElementById("search_media").disabled=true
      var hold=[]
      var y = document.getElementById("search_video")
      var x = document.querySelectorAll("input[type=checkbox")
      for(i=0; i< x.length;i++){ 
        if(x[i].checked){
          hold.push(x[i].value)}}
   year=document.getElementById("year").value
   year2=document.getElementById("year2").value
  if (!y.value)
          return alert("Please enter a movie title")
    var API_IMDB ="{{ API }}"
    const api_details='http://www.omdbapi.com/?s='+y.value+'&type=movie&apikey='+API_IMDB +'&r=json'
    const Response= await fetch(api_details)                                        
    const data = await Response.json();
    var div_1 = document.getElementById("div1")
    for(i=0;i<data.Search.length;i++)
    {
      var loop_variable ="im here"+i
      const movie_id =  data.Search[i].imdbID
      const api_genre='http://www.omdbapi.com/?i='+movie_id+'&apikey='+API_IMDB+'&plot=full'+'&r=json'
      const Response_2= await fetch(api_genre)
      var data_2 = await Response_2.json();
      var div_title=document.createElement('div')
      var div_info=document.createElement('div')
      var div_plot=document.createElement('div')
      var div_year=document.createElement('div')
      var div_genre=document.createElement('div')

      div_title.innerHTML=data.Search[i].Title
      div_title.setAttribute("id","title_1")

      div_info.innerHTML="Director : "+data_2.Director
      div_info.innerHTML
      div_info.setAttribute("id","info")

      div_year.innerHTML=data.Search[i].Year
      div_genre.innerHTML=data_2.Genre
      var img_place=document.createElement('img')
      img_place.src=data.Search[i].Poster
      img_place.setAttribute("id","img_1")
      media_details= {year:data_2.Year,imdb:data_2.imdbID,title: data_2.Title,poster:data_2.Poster ,director:data_2.Director,actors:data_2.Actors,rating:data_2.imdbRating,plot:data_2.Plot}
      img_place.setAttribute("name",i)
      img_place.setAttribute("value",JSON.stringify(media_details))    
      var hold_1=Object.assign(hold)
      array_split = Array.from(data_2.Genre.split("," ))
      for(p=0;p<array_split.length;p++)
      {
        array_split[p] = array_split[p].trim();
      }
      var genre_1 = Object.assign(array_split)
          for (k=0;k <= hold_1.length;k++)
          {
            if ((genre_1.indexOf(hold_1[k]) !=-1)||(hold_1.length == 0) && ((data.Search[i].Year >= year) && (data.Search[i].Year <= year2)))
            {
              div_1.appendChild(div_title)
              div_1.appendChild(div_info)
              div_1.appendChild(div_plot)
              div_1.appendChild(div_year)
              div_1.appendChild(div_genre)
              div_1.appendChild(img_place)     
            };
          }
    }
          get_click()
          localStorage.setItem("test", JSON.stringify(data.Search))
          
  }
    get_checkbox()
    function get_clear()
    {
      document.getElementById("search_media").disabled=false
      location.href='/library'
    }
    async function Top_movies(){
      var API_IMDB ="{{ API }}"
      const api_3='https://api.themoviedb.org/3/movie/popular?api_key=a472ce9d2285c33aefe4bc8542170b73&language=en-US&page=1'
      const Response2= await fetch(api_3)
      const data_3 = await Response2.json()
      title_name = [
      data_3.results[0].original_title,
      data_3.results[1].original_title,
      data_3.results[2].original_title,
      data_3.results[3].original_title,
      data_3.results[4].original_title,
      ]

      pics = []
for (k= 0 ; k <= 4; k++)
{
  const images_api='http://www.omdbapi.com/?s='+title_name[k]+'&type=movie&apikey='+API_IMDB +'&r=json'
  const Response= await fetch(images_api)                                        
  const data = await Response.json();
  pics.push(data.Search[0].Poster)
}
      const images_api='http://www.omdbapi.com/?s='+data_3.results[0].original_title+'&type=movie&apikey='+API_IMDB +'&r=json'
      const Response= await fetch(images_api)                                        
      const data = await Response.json();

      document.getElementById("top_1").innerHTML = data_3.results[0].original_title +' (vote rating :' + data_3.results[0].vote_average + (')')
      document.getElementById("top_1_img").src= pics[0]
  
      document.getElementById("top_2").innerHTML = data_3.results[1].original_title +' (vote rating :' + data_3.results[1].vote_average + (')')
      document.getElementById("top_2_img").src= pics[1]

      document.getElementById("top_3").innerHTML = data_3.results[2].original_title +' (vote rating :' + data_3.results[2].vote_average + (')')
      document.getElementById("top_3_img").src=pics[2]
      
      document.getElementById("top_4").innerHTML = data_3.results[3].original_title +' (vote rating :' + data_3.results[3].vote_average + (')')
      document.getElementById("top_4_img").src=pics[3]

      document.getElementById("top_5").innerHTML = data_3.results[4].original_title +' (vote rating :' + data_3.results[4].vote_average + (')')
      document.getElementById("top_5_img").src=pics[4]

    }

    function hidden_images()
    {
      document.getElementsByName('0').style.display = 'none'
    }
    Top_movies()
  </script>
    <div class="library">
    <br><input type="submit" id="search_media" onclick=" get_video_details()" value="Search">
  
  
    <button onclick="get_clear()" type="tag">Clear</button><br>
    <button onclick="hidden_images">Next</button>
    <button>Back</button>
    </div>
</body>
</html>