<!doctype html>
{% load static %}
{% load socialaccount %}
<html>
<head>
  <meta charset="utf-8">
  <title>Send reset password email request</title>
  <meta name="description" content="Hypertube">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/> 
</head>

<body>
  <div class="login">
    <h1> Reset password </h1>
    <h1>Email has been sent .Please check your inbox</h1>
    <p>Hyperlink project 2020</p>
  </footer>
</div>
  <!-- <script src="js/scripts.js"></script> -->
</body>
</html>