<!doctype html>
{% load static %}
{% load socialaccount %}
<html>
<head>
  <meta charset="utf-8">
  <title>Login page</title>
  <meta name="description" content="Hypertube">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/> 
</head>

<body>
  <div class="login">
    {% include 'navibar.html' %}
    <h1> Reset password </h1>
    <p>{{ value }}</p>
    <form  method="POST">{% csrf_token %}

      <p style="color: red">{{message}}</p  >
      {{ form }}
      <button type="submit">Reset password</button>
      <button onclick="location.href='/home'" type="button">Back</button>
    </form>
    <footer>
    <p>Hyperlink project 2020</p>
  </footer>
</div>
  <!-- <script src="js/scripts.js"></script> -->
</body>
</html>