<!doctype html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Update page</title>
    <meta name="description" content="Hypertube">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
   
  </head>
  
  <body>
    <div class="update">
      {% include 'navibar.html' %}
      {% if message%}
      <p>{{message}}<p>
      {% else %}
        <h1> Update page </h1>
      <form action="/update/" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <p>{{ form.as_p }}<p>
        <p>{{ form2.as_p }}<p></p>
        <a href="/reset_password">Rest password</a><br><br>
        <input type='submit' value='Update Details'/>
        {% endif %}
      <button onclick="location.href='/home'" type="button">Back</button>
      </form>
    </div>
     
  <!-- <script src="js/scripts.js"></script> -->
</body>
</html>