<!doctype html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <title>Register page</title>
  <meta name="description" content="Hypertube">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/> 
</head>

<body>
  <div class="register">
    <h1> Register page</h1>
    <form action="." method="POST">{% csrf_token %}
    {{ form.as_p }}
    <!-- {% if form.errors %} -->
      <!-- {% for error in field.errors %} -->
      <!-- <p>{{ error }}</p> -->
      <!-- {% endfor %} -->
    <!-- {% endif %} -->
    {{try.password}}
    <input type='submit' value='Submit'/>
    <button onclick="location.href='/'" type="button">Back</button>
    {{mes1}}
    </form>
    <!-- <form> -->
      <!-- First name: <input type="text" ><br> -->
      <!-- Last name : <input type="text" ><br> -->
      <!-- Email     :     <input type="text"><br> -->
      <!-- Username  : <input type="text"><br> -->
       <!-- <button>Submit</button> -->
    <!-- </form> -->
  </div>
  <!-- <script src="js/scripts.js"></script> -->
</body>
</html>